/vendor/
.env
.env.*
/bootstrap/cache/*.php
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/public/hot
/public/build

composer.lock
phpunit.xml
phpunit.xml.dist
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
.idea/
.vscode/
*.log

/node_modules/
/npm-debug.log
/yarn-error.log
package-lock.json
pnpm-lock.yaml

/docker/php/conf.d/*.ini
/docker/mysql/data/
/.docker/
/.dockerignore
*.pid
*.seed

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
*.swp
*.swo
*.bak

/*.sqlite
*.zip
*.tar.gz
*.env.backup
